.search {
    margin: 20px;
    overflow: auto;
    position: relative;
}

.search-icon {
    background-color: #4EA4E8 ;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    overflow: auto;
    margin-left: 10px;
}

.searchInput {
    width: 80%
}

.form-control {
    display: inline-block;
}

.searchHistory {
    width: 95%;
    margin: auto;
}

.historyBlock {
    display: block;
    border-bottom: 1px solid #C1C1C1 ;
    width: 95%;
    height: 40px;
    margin: auto;
    padding: 2%;
    background-color: white;
    color: gray;
}

.col-sm-3 {
    height: 100vh;
}

.currentWeather {
    /* border: 1px solid #C1C1C1 ; */
    margin-top: 20px;
    padding: 20px;
    width: 45%;
    background-color: #AFB0B1 ;
    border-radius: 5px;
    color: black;
}

.weatherIcon {
    display: inline-block;
}

.date {
    display: block;
    padding-right: 10px;
}

.cityName {
    display: inline-block;
    padding-right: 10px;
}

.uvIndex {
    padding: 8px;
    border-radius: 10px;
    color: black;
    display: inline-block;
}

p {
    padding: 12px 0;
}

h2 {
    margin: 12px 0;
}

.fiveDayBlock {
    background-color: #6891CD  ;
    width: 17%;
    margin: 0 1% 30px 1%;
    display: inline-block;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.btn {
    margin: 12px 20px;
}